@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:wght@200;400;700;900&family=Ubuntu:wght@300;400;700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';
body{
  margin: 0;
}

hr{
  display:block;
  width: 50%;
  color: black;
  margin-top: 50px;
}