nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

nav> ul> li{
    padding:30px
}

li > a{
    margin: 25px;
    padding: 15px;
    text-decoration: none;
    color: #FFF;
    font-family: Lemon;
}

li > a:active{
    text-decoration: underline;
}

li > a:hover{
    text-decoration: underline;
    cursor:pointer;
}

