nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

nav > a{
    margin: 25px;
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    font-family: Lemon;
}

nav > a:active{
    text-decoration: underline;
}

