.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.info-blurb {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 25px;
}

.contact-header {
  font-size: 3rem;
}

.message-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

.message-input> * {
    margin: 5px;
    border-radius: 5px;
}
.message-input > input {
  height: 35px;
  font-size: 1rem;
}
.email-submitbtn {
  margin: 0;
  align-self: flex-end;
  width: 200px;
  margin-top:30px;
}

.email-body{
    height: 150px;
    font-size: 1rem;
}
